body {
    background-color: #60a9ff;
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;

}

.main {

    width: 70%;

    background-color: white;
    border-radius: 10%;


}

.flex {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid grey;
}

.basic {
    margin-left: 20px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 30px;
}

.section {
    display: flex;
    align-items: center;
}

.menu {
    text-decoration: none;
    color: black;
    transition: 22ms;
}

.menu:hover {
    color: rgb(225, 80, 104)
}

.name {
    margin-left: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: blueviolet;
    font-size: 2em;
    border-right: 2px solid grey;
    padding-right: 20px;
}

.myname {
    display: flex;
    justify-content: flex-start;
}

.hobby {
    display: flex;

    flex-direction: column;
}

.left {
    text-align: start;
    margin-top: 80px;
    margin-left: 50px;
    font-weight: 1000;
    align-items: flex-start;
}

#middle {
    color: rgb(118, 72, 15);
}

#last {
    color: black;
}

.b {
    margin-bottom: 50px;
    margin-top: 80px;
    margin-left: 25px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.b:nth-of-type(1) {
    margin-top: 80px;
}

.c {
    margin-bottom: 50px;
    margin-top: 80px;
    margin-left: 25px;
    font-weight: 200;

}

.c:nth-of-type(3) {
    padding-top: 50px;
}

.d {
    text-decoration: underline;